/* Global Styles */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.rtl-item {
  direction: rtl;
  text-align: right;
}

[dir='rtl'] .card-id {
  right: initial !important;
  left: 0px;
  border-radius: 0px 0px 10px 0px !important;
}
